.container-tallas-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2f6453;
}

.tallas-form-wrapper {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.talla-input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.talla-input-group .form-group {
  flex: 1;
}

.cantidad-input-group {
  margin-left: 10px;
}

.submit-button {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.submit-button {
  max-width: 150px;
  margin-right: 10px;
  background-color: #349677;
  color: #fff;
  border: none;
}

.submit-button:hover {
  background-color: #2f6453;
  transform: scale(1.05);
}
.modal-body-content {
  text-align: center;
}

.modal-icon {
  margin-bottom: 20px;
}
