.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;

  width: 100%;
  bottom: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content p {
  margin: 0;
  font-size: 16px;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
  color: #f0f0f0;
}
