body {
  background: #f8f9fb;
  font-family: "Euclid Circular A", "Poppins";
}

* {
  box-sizing: border-box;
}

.page.modal-1-page {
  background: #ffffff;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.modal-1-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50vh;
  padding-bottom: 20px;
  background: #feffff;
  color: #f9f9f9;
}

.modal-1-footer article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 20px 50px 40px;
  margin: -99px 20px 20px;
  border-radius: 10px;
  background: linear-gradient(90deg, #000000, #bcabd6);
}

.modal-1-footer article h2 {
  font-weight: 400;
  color: rgb(255 255 255 / 70%);
}

.signup-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 20px 0 20px;
  width: 100%;
  height: 56px;
  background: #161022;
  border: 0;
  border-radius: 6px;
  color: #f9f9f9;
  font-family: inherit;
  font-size: 16px;
}

.modal-1-footer section {
  padding: 0 50px;
}

.modal-1-footer section.top {
  padding-top: 30px;
  margin-bottom: 48px;
}

.modal-1-footer section.top img {
  display: block;
  height: 30px;
  margin: 0 0 30px;
}

.modal-1-footer section.top ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

@media (width > 480px) {
  .modal-1-footer article button {
    width: 70%;
  }

  .modal-1-footer section.top ul {
    padding-right: 10%;
  }
}

@media (width > 600px) {
  .modal-1-footer article {
    flex-direction: row;
    min-height: 140px;
    margin: -70px 20px 20px;
    padding: 30px 50px 30px;
  }

  .modal-1-footer article button {
    width: auto;
    padding: 0 20px 0 24px;
  }

  .modal-1-footer section.top ul {
    grid-template-columns: repeat(4, 1fr);
    padding-right: 0;
  }
}

.modal-1-footer section.top ul li a {
  display: block;
  margin-bottom: 18px;
  color: rgb(255 255 255 / 90%);
}

.modal-1-footer section.top h3 {
  color: rgb(255 255 255 / 40%);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.modal-1-overlay,
.modal-1-modal {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

@keyframes overlay-in {
  0% {
    scale: 0 0.004;
  }
  33% {
    scale: 1 0.004;
  }
  66%,
  100% {
    scale: 1 1;
  }
}

.modal-1-overlay {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 75%);
  display: grid;
  place-items: center;
}

.modal-1-overlay.open {
  visibility: visible;
  opacity: 1;
  animation: overlay-in 1s both;
}

@keyframes modal-in {
  0%,
  66% {
    opacity: 0;
    visibility: hidden;
    translate: -50% -40%;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.modal-1-modal {
  z-index: 2;
  width: 430px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  border-radius: 12px;
  padding: 0 40px 50px;
  translate: -50% -50%;
  box-shadow: 0 10px 30px rgb(0 0 0 / 24%);
}

.modal-1-overlay.open .modal-1-modal {
  opacity: 1;
  visibility: visible;
  animation: modal-in 1s;
}

.modal-1-modal header {
  background: linear-gradient(90deg, #beb6c9, #c1aee0);
  margin: -85px -20px 30px;
  border-radius: 12px;
  height: 170px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
  box-shadow: 0 16px 30px rgb(0 0 0 / 12%);
}

.modal-1-modal h2 {
  margin-bottom: 10px;
  font-size: 29px;
}

.modal-1-modal h3 {
  opacity: 0.45;
  font-weight: 400;
}

.modal-1-modal form {
  display: grid;
  gap: 16px;
}

.modal-1-modal .textbox {
  position: relative;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
}

.modal-1-modal .textbox span {
  position: relative;
  z-index: 1;
  left: 16px;
  font-size: 20px;
  color: #96939c;
  pointer-events: none;
}

.modal-1-modal input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  background: #ececec;
  height: 56px;
  border-radius: 6px;
  font-family: inherit;
  padding: 0 16px 0 44px;
  font-size: 16px;
}

.modal-1-modal input::placeholder {
  color: #96939c;
}

.modal-1-modal > p {
  color: #96939c;
  margin: 30px 0 0;
}

/* CSS WHO ARE US */
.background-video {
  position: initial;
  width: 100%;
  height: auto;
  z-index: -1;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 80%;
  z-index: 1;
}

.text-content {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  font-size: 28px;
}

/* Navbar estilos */
/* */

/* NavBar.css */

.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative; /* Agregar posición relativa */
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-link {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.navbar-link-iconos {
  text-decoration: none;
  color: #333333;
  font-size: 22px;
  margin-right: 1px;
  transition: color 0.3s ease;
}

.navbar-secciones{
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #555555;
}

.logo {
  width: 220px; /* Tamaño deseado para el logo */
  height: auto;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.buscar-icono {
  cursor: pointer;
  font-size: 30px; /* Tamaño del icono de búsqueda */
  margin-right: 10px; /* Espaciado entre el icono de búsqueda y el primer enlace */
}

.area-busqueda-container {
  position: absolute; /* Agregar posición absoluta */
  top: calc(100% + 10px); /* Colocar el input debajo de la navbar */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Alinear al centro */
}

.area-busqueda {
  display: flex;
  align-items: center;
}

.area-busqueda input {
  font-size: 16px; /* Tamaño del texto en el área de búsqueda */
  padding: 5px;
  width: 200px; /* Ancho del input */
  margin-right: 5px;
}

.area-busqueda button {
  background-color: #555555;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.area-busqueda button:hover {
  background-color: #333333;
}
/* Footer.css */

.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px 0;
}

.redes-sociales {
  display: flex;
  justify-content: center;
}

.redes-sociales button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin: 0 10px;
  color: #ffffff;
}

.secciones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.seccion {
  flex: 1;
  padding: 0 20px;
}

.seccion h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* estilos carrusel */

.carousel-item img {
  width: 100%;
  height: 700px; /* Tamaño fijo para las imágenes, ajusta según sea necesario */
  object-fit: cover; /* Recorta la imagen para que llene el contenedor */
}

/* Tendencias */

.categories-container {
  display: flex;
  justify-content: space-between;
  margin-top: -7%;
  margin-left: -40%;
}

.mujeres-header {
  margin-bottom: 5%;
}

.see-all-container {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 4%;
}

.sudaderas,
.camisas,
.pantalones,
.abrigo {
  margin-right: 45%;
}

@media (max-width: 768px) {
  .categories-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sudaderas,
  .camisas,
  .pantalones,
  .abrigo {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.trending-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px; /* Aplica margen uniforme en todas las direcciones */
}

.seccion-ropa-header {
  margin-left: 20px;
  margin-bottom: auto;
}

.trending-header {
  border-bottom: 1px solid black;
  display: inline-block;
  margin-top: 10px;
  padding: 0 20px; /* Reduce el espacio alrededor del texto */
}

/* Cards */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-top: 70px;
  width: 80%;
  margin-bottom: 10%;
}

.card-wrapper {
  width: 300px; /* Ancho fijo para las tarjetas */
}

.card-container img {
  width: 100%; /* Ajusta el ancho de la imagen para llenar la tarjeta */
  height: 255px; /* Altura fija para las imágenes dentro de las tarjetas */
  object-fit: cover; /* Ajusta la imagen manteniendo su relación de aspecto */
}

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 5%; /* Centra horizontalmente el contenido */
}

/*LIQUIDACIOOOON*/
.liquidacion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://i.ibb.co/Hzgsvpd/liquidacion-imagenes.jpg");
  background-size: cover;
}

.liquidacion-content {
  text-align: center;
  color: white;
}

.liquidacion-content h1 {
  font-size: 3rem;
}

.liquidacion-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.liquidacion-content button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  background-color: #fefeff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 20px; /* Establece el radio de los bordes */
}

.h4-container {
  display: flex;
  flex-direction: column;
}

/* Primera seccion de quiénes somos-conócenos */
.h4-container {
  display: flex;
  flex-direction: column;
}

.h4-item {
  margin-bottom: 20px; 
}

@media screen and (min-width: 768px) {
  .h4-container {
    flex-direction: row;
  }

  .h4-item {
    margin-bottom: 0;
    margin-right: 20px; 
    flex: 1;
  }

  .h4-item:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último elemento en la fila */
  }
}



/* Segunda seccion de quiénes somos-conócenos */
.background-video-wrapper-conocenos {
  position: center;
}

.background-video-conocenos {
  width: 100%;
  height: 100%;
}

.conocenos-title {
  color: #000000;
  font-size: 40px;
  text-align: center;
  margin-bottom: auto;
}

.who-are-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-content {
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .text-content {
    font-size: 14px;
  }
  .text-content-conocenos {
    font-size: 14px;
  }
}

/*DISEÑO PARA PAGO*/
/* Pago.css */

/* Estilos para el contenedor principal */
.container-primero{
  background-color:#C2CBC9;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.payment-container {
  background-color:#C2CBC9; /* Color de fondo */
  padding: 20px;
  border-radius: 10px;
  height: 76vh;
}

.custom-alert {
  background-color: #a3fba6; /* Color de fondo del Alert */
  border-color: #75716E; /* Color del borde del Alert */
}

/* Estilos para el formulario de pago */
.payment-form {
  max-width: 400px;
  margin: auto;
  background-color:#C2CBC9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.payment-form label {
  font-weight: bold;
}

.payment-form input[type="text"],
.payment-form input[type="email"] {
  width: 100%;
  margin-bottom: 10px;
}

.payment-form button {
  width: 100%;
  margin-top: 15px;
}

/* Estilos para la tabla de la factura */
.payment-modal-body table {
  width: 100%;
}

.payment-modal-body th,
.payment-modal-body td {
  text-align: center;
}

.payment-modal-body th:first-child,
.payment-modal-body td:first-child {
  text-align: left;
}

 /* pagoexitoso*/
.custom-payment-form {
  max-width: 400px; /* Tamaño máximo del formulario */
  margin-top: 5vh;
}

.custom-form-group {
  margin-bottom: 30px; /* Espacio entre grupos de campos */
}

.label {
  margin-bottom: 10px; /* Espacio entre la etiqueta y el campo */
}

.custom-payment-form .custom-button {
  margin-top: 20px;
  color: #fff;
  background-color: #75716E; 
  border-color: #BFCBD4;
  border-radius: 20px;
}

.custom-payment-form .custom-button:hover {
  background-color: #26533b; 
}




