.statistics-container {
  margin-top: 20px;
}

.chart-container {
  margin-bottom: 20px;
}

.chart-container h3 {
  text-align: center;
}

.pie-chart {
  max-width: 400px; /* Reducir el tamaño del gráfico */
  margin: 0 auto; /* Centrar el gráfico */
}
