.admin-container {
  padding: 20px;
  background-color: #000000;
}

.admin-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #485c60;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.admin-header h4 {
  margin: 0;
}

.admin-header button {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.admin-header button:hover {
  background-color: #c0392b;
}

.admin-section {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.admin-section h5 {
  margin-top: 2px;
  margin-bottom: 2%;
  font-weight: bold;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.admin-table th {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  background-color: #5e8f7b;
  color: white;
}

.admin-table tr:hover {
  background-color: #f1f1f1;
}

.admin-table img {
  max-width: 50px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .admin-header,
  .admin-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .admin-header button {
    width: 100%;
    margin-top: 10px;
  }

  .admin-table th,
  .admin-table td {
    padding: 5px;
  }
}

/* ESTILOS PARA --DepartmentComponent */

.department-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.department-card {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 25%;
  min-width: 350px;
  text-align: center;
}

.department-card h4 {
  margin-bottom: 15px;
}

.department-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.department-actions button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.department-actions button:hover {
  background-color: #b4934d;
}

@media (max-width: 768px) {
  .department-card {
    width: 100%;
  }
}

.admin-table button {
  background-color: #da5461; 
  color: white; 
  border: none; 
  padding: 5px 10px; 
  cursor: pointer; 
}

.admin-table button:hover {
  background-color: #c82333;
}

.nombre-menu{
  text-align: center;
  color: white;
  font-size: x-large;
  margin-bottom: 2%;
}

.confi-menu{
  margin-top: 5%;
  margin-bottom: 5%;
}